@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  background-color: #2d2d2d;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.principal{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1{
  font-size: 35px;
  font-weight: bold;
}

button{
  background-color: #5162ff;
  cursor: pointer;
  margin-top: 20px;
  padding: 12px 24px;
  border-radius: 10px;
  margin-right: 5px;
}

button:hover{
  background-color: orange;
  color: #2d2d2d;
}

.areaBotoes{
  display: flex;
  flex-direction: row;
}

img{
  width: 256px;
  margin: 10px;
  border-radius: 10px;
}

select{
  font-size: 20px;
  padding: 15px;
  margin: 15px;
}